@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes flicker {
  0%   { opacity: 0.85; }
  25%  { opacity: 1; }
  50%  { opacity: 0.9; }
  75%  { opacity: 1; }
  100% { opacity: 0.95; }
}
